In [1]:
import sys
if sys.platform == "darwin":  # michael's config
    # because Michael is using jupyter lab
    %load_ext lab_black
else:  # zade's config
    # because Zade is using jupyter notebook
    %load_ext nb_black

In [2]:
import numpy as np
import geopandas as gp
import shapely
from planet4 import io, markings

In [3]:
from coverage_utils import CoverageCalculator, get_obsids_for_region
from my_io import get_tilecoords, get_metadata, get_region_names

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
%matplotlib widget

In [6]:
# the `which` setting is by default 'both'
cc = CoverageCalculator()

Reading fans and blotches in...
Done.
Reading metadata...
Done.
Note that obsid must be set to a string value before this works.

In [7]:
all_regions = get_region_names().roi_name.unique()

In [8]:
all_regions = [
    region for region in all_regions if region not in ["unknown", "Manhattan2"]
]
all_regions

['Macclesfield',
 'Starburst',
 'Manhattan_Classic',
 'Wellington',
 'Albany',
 'Bilbao',
 'Ithaca',
 'Portsmouth',
 'Pisaq',
 'Manhattan_Frontinella',
 'BuenosAires',
 'Inca_City_Ridges',
 'Inca_City',
 'Giza',
 'Potsdam',
 'Troy',
 'Oswego_Edge',
 'Halifax',
 'Caterpillar',
 'Rochester',
 'Manhattan_Cracks',
 'Schenectady',
 'Binghamton',
 'Atka',
 'Cortland',
 'Geneseo']

In [9]:
data = pd.read_csv("n_obj_df.csv")
data.describe()

,Latitude,Ls,MY,fraction,n_objects,pixel_area
count,654.000000,654.000000,654.000000,654.000000,654.000000,6.540000e+02
mean,-84.315982,219.824046,29.422018,0.042454,950.564220,3.272518e+06
std,2.567026,28.643762,0.494259,0.048698,1954.735269,5.061175e+06
min,-87.303400,176.075000,29.000000,0.000000,0.000000,0.000000e+00
25%,-86.842000,195.125000,29.000000,0.010000,123.000000,6.230501e+05
50%,-85.088200,214.988000,29.000000,0.027000,368.000000,1.643100e+06
75%,-81.810500,244.126000,30.000000,0.056000,961.250000,3.731366e+06
max,-73.478700,302.421000,30.000000,0.355000,16728.000000,4.726806e+07

In [10]:
data.head()

,Latitude,Ls,MY,Which,fraction,n_objects,obsid,pixel_area,region_name
0,-85.4074,214.785,29,both,0.115,933,ESP_012079_0945,2.551911e+07,Macclesfield
1,-85.4065,183.727,29,both,0.070,1971,ESP_011407_0945,2.592302e+06,Macclesfield
2,-85.4056,198.040,29,both,0.072,1525,ESP_011723_0945,8.455380e+06,Macclesfield
3,-85.4049,207.892,29,both,0.168,788,ESP_011934_0945,7.357966e+06,Macclesfield
4,-85.4067,235.282,29,both,0.111,1285,ESP_012501_0945,4.882627e+06,Macclesfield

In [11]:
data["obsid"] = data["obsid"].astype(str) + "_COLOR"

In [12]:
data.head()

,Latitude,Ls,MY,Which,fraction,n_objects,obsid,pixel_area,region_name
0,-85.4074,214.785,29,both,0.115,933,ESP_012079_0945_COLOR,2.551911e+07,Macclesfield
1,-85.4065,183.727,29,both,0.070,1971,ESP_011407_0945_COLOR,2.592302e+06,Macclesfield
2,-85.4056,198.040,29,both,0.072,1525,ESP_011723_0945_COLOR,8.455380e+06,Macclesfield
3,-85.4049,207.892,29,both,0.168,788,ESP_011934_0945_COLOR,7.357966e+06,Macclesfield
4,-85.4067,235.282,29,both,0.111,1285,ESP_012501_0945_COLOR,4.882627e+06,Macclesfield

In [13]:
obsdic = {}
for region in all_regions[:]:
    df1 = data.loc[data["region_name"] == region]
    obsdic[f"{region}"] = df1.obsid
# exactly what we want, now just print off the respective dicts,
# copy/paste into the jmars and do the undergrad garbage

In [14]:
import csv

In [15]:
for region in all_regions[:]:
    w = csv.writer(open(f"{region}_obsid_list.txt", "w"))
    for key, val in obsdic[region].items():
        w.writerow([val])